<div class="modal-header">
   <h3 id="myModalLabel">Modal header</h3>
 </div>
 <div class="modal-body">
  <%= form_for(:anything, url: verify_user_otp_path) do |form| %>
   <div class="field">
     <%= form.label :mobile %><br />
     <%= form.text_field :mobile, autofocus: true, placeholder: "+91-9009458216", :readonly => true %>
   </div>

   <div class="field">
     <%= form.label :otp %><br />
     <%= form.text_field :otp, autofocus: true, placeholder: "xxxx" %>
   </div>
   <%= form.submit "Submit" %>
   <% end %>
 </div>

 <div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 </div>
